@charset "UTF-8";
/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "";
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  list-style: none;
}
body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h2 {
  font-size: 1.875rem;
  line-height: 1;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  max-width: 76.25rem;
  margin: 0 auto;
  padding: 0 15px;
}