@charset "UTF-8";
/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Lato";
  color: #4a6385;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

a {
  color: #4a6385;
}

h1 {
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}

h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

ul {
  list-style: none;
}

/* ================================ RESET ================================*/